header {
    width: 100%;

    background: rgb(197, 197, 197);

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-transform: uppercase;
        font-size: 22px;
    }

    div {
        margin-top: 1rem;
        
        input {
            padding: .5rem;
            width: 200px
        }

        button {
            padding: .5rem 1rem;
            margin-left: .3rem;

            background: black;
            border: 2px solid black;
            color: white;
            cursor: pointer;
        }
    }
}